@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

:root {
  --main-color: #b57edc;
  --text-color: #777;
  --text-color-light: #999;
  --border-color: #eee;
  --bg-color: #f1f1f1;
  --bg-disabled-color: #e4e4e4;
  --neutral-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);

  /* Disables highlighting everywhere*/
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: 0.25em;
}

.logout {
  position: absolute;
  color: var(--main-color);
  right: 1.3em;
  top: 1.3em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  margin-bottom: 6em;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar-border {
  border-top: 1px solid var(--border-color);
}

.tasks {
  padding: 1.5em 0;
  border-bottom: 0px;
}

.completed {
  text-decoration: line-through;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
  font-size: 1.2em;
}

.icon-btn:hover {
  cursor: pointer;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color-light);
  font-size: 75%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
}

.calendar .body .cell:hover {
  background: var(--bg-color);
}

.calendar .body .selected {
  border: 2px solid transparent;
  border-color: var(--main-color);
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  background-color: var(--bg-disabled-color);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg {
  opacity: 0.2;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.event {
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: var(--main-color);
  font-size: 1em;
  top: 0.5em;
  left: 0.5em;
  padding: 0.2em;
  position: absolute;
}

.today {
  color: var(--main-color);
}

.btn {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.text-btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.active {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  border: none;
  font-size: 1.05em;
  border-bottom: 2px solid var(--text-color);
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.entry-text {
  margin-bottom: 0;
}

.api-text {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.3em;
}

.api-method {
  font-weight: 600;
  color: #4d853a;
  padding-right: 1em;
}

.api-code {
  font-family: Consolas, "courier new";
  color: var(--main-color);
  background-color: #f1f1f1;
  padding: 2px;
}

.api-response {
  font-weight: 600;
  color: #2686cf;
  padding-right: 1em;
}

.api-auth {
  font-weight: 600;
  color: #e74c3c;
  padding-right: 1em;
}

.api-table {
  font-family: Consolas, "courier new";
  margin-left: 1.3em;
  margin-bottom: 1em;
  font-size: 1.3em;
}
th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.checkbox {
  margin-left: 1em;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
